/* VARS */

$bg-color: #212121;
$font-color: white;
/*******************/
html,body {
  height:100%;
}

body {
  background-color: $bg-color;
  color: $font-color;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color:$font-color;
  }

  a:hover {
    text-decoration: none;
  }
}

.container {
  text-align: center;
  @media (min-width: 601px) {
    border:white solid 1px;
    padding: 2%;
  }

  h1 {
    font-family:'Roboto',sans-serif;
    line-height:17px;
    font-size:2em;
    text-transform:uppercase;
    letter-spacing: 2.5px;
  }

  #heading:after {
    content: 'ThoughtfulDev';
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
  }

  #heading:hover {
    cursor:pointer;
    content: 'ADD';
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
  }

  @-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }

  @keyframes fadeinout {
    0% { opacity: 0; }
    50% { opacity: 1; }
  }

  #heading:hover:after {
    content: '60:46:cb:9e:95:c9';
  }

  h3 {
    font-family:'Roboto',sans-serif;
    font-size:1.2em;
    letter-spacing: 1.1px;
    font-weight:normal;
    color: #cfd8dc;

    img {
      opacity: 0.9;
    }

    img:hover {
      opacity:1.0;
    }
  }

  h4 {
    font-family:'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight:lighter;
    line-height:0px;
    color:#78909c;
  }

  #contact {
    padding-top:3px;
    i {
      padding:0 10px 0 10px;
    }

    a {
      font-size:1em;
      opacity:0.8;
    }

    a:hover {
      opacity:1;
    }

  }
}

#supericons {
  width: 48px;
  height: 48px;
  @media (max-width: 600px) {
    width: 30px;
    height: 30px;
  }

}

footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  background-color: lighten($bg-color, 5);
  height:40px;
  

  #text {
    text-align: center;
    padding-top:13px;
    font-size:0.9em;
  }
}

