/* VARS */

$bg-color: #212121;
$font-color: white;
/*******************/
html,body {
  height:100%;
}

body {
  background-color: $bg-color;
  color: $font-color;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color:$font-color;
  }

  a:hover {
    text-decoration: none;
  }
}

.container {
  text-align: center;
  h1 {
    font-family:'Roboto',sans-serif;
    line-height:17px;
    font-size:2em;
    text-transform:uppercase;
    letter-spacing: 2.5px;
  }

  #heading:after {
    content: 'ThoughtfulDev';
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
  }

  #heading:hover {
    cursor:pointer;
    content: 'ADD';
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
  }

  @-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }

  @keyframes fadeinout {
    0% { opacity: 0; }
    50% { opacity: 1; }
  }

  #heading:hover:after {
    content: 'Marc Hilgenberg';
  }

  h3 {
    font-family:'Roboto',sans-serif;
    font-size:1.2em;
    letter-spacing: 1.1px;
    font-weight:normal;
    color: #cfd8dc;
  }

  h4 {
    font-family:'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight:lighter;
    line-height:0px;
    color:#78909c;
  }

  #contact {
    i {
      padding:0 10px 0 10px;
    }
  }
}
